<md-dialog class="dialog page-auth">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Login</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="main-body">
      <div class="card bg-white">
          <div class="card-content">
              <!-- <div class="logo">
                  <a href="#/">Login</a>
              </div> -->

              <form name="loginForm" class="md-form-auth form-validation">
                  <fieldset>
                      <md-input-container class="md-block">
                          <label>Email o Nombre de Usuario</label>
                          <md-icon class="material-icons">mail_outline</md-icon>
                          <input required
                                 type="text"
                                 name="email"
                                 ng-model="session.email" />
                          <div ng-messages="loginForm.email.$error" multiple ng-if='loginForm.email.$dirty'>
                              <div ng-message="required">Campo requerido.</div>
                          </div>
                      </md-input-container>
                      <md-input-container class="md-block">
                          <label>Contraseña</label>
                          <md-icon class="material-icons">lock_outline</md-icon>
                          <input required
                                 type="password"
                                 name="password"
                                 ng-model="session.password">
                          <div ng-messages="loginForm.password.$error" multiple ng-if='loginForm.password.$dirty'>
                              <div ng-message="required">Campo requerido.</div>
                          </div>
                      </md-input-container>

                      <md-button type="submit"
                                 ng-click="login(loginForm.$valid, $event)"
                                 class="md-raised pull-right md-primary"
                                 data-ng-disabled="!canSubmit()">Entrar</md-button>
                  </fieldset>
              </form>

              <div class="additional-info">
                  <a href ng-click="toSignup()">Registrarse</a>
                  <span class="divider-h"></span>
                  <a href ng-click="toForgot()">Olvidaste la contraseña?</a>
              </div>

          </div>
      </div>
  </md-dialog-content >
</md-dialog>
