<div class="rightContent" ng-controller="RightContentController as vm">
    <md-content>

      <md-list class="md-dense">
          <md-list-item class="md-2-line" ng-repeat="option in vm.options" ng-click="vm.goto(option.state, $event)" ng-show="vm.shouldShow(option)">
              <i class="material-icons">{{option.icon}}</i>&nbsp&nbsp
              <div class="md-list-item-text">
                  <h3>{{option.text}}</h3>
              </div>
          </md-list-item>
      </md-list>
    </md-content>
</div>
